.App {
  text-align: center;
  display: flex;
  flex-direction: row;
}

.App--testTeil {
  background-color: aqua;
}

.erst {
  width: 50%;
}

.zweit {
  width: 50%;
}

.profilInhalt {
  /* display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-basis: 50%;
  margin: 20px; */
}
