.profilInhalt {
}

.bodyInhalt {
  width: 100%;
  display: flex;
}

.rootElem {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.profilContainer {
  width: 100%;
}
